<ngx-spinner></ngx-spinner>

<!-- HEADER -->
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> 09696-756869</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> mdr048454@gmail.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> Arshinagar Main Road, Dhaka</a></li>
      </ul>
      <ul class="header-links pull-right">
        <!--   <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>  -->


        <li><a routerLink=""><i class="fa fa-user-o"></i> Log Out</a></li>


      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- LOGO -->
        <div class="col-md-3">
          <div class="header-logo">
            <a class="logo">
              <img src="../../../assets/img/logo.png" alt="">
            </a>
          </div>
        </div>
        <!-- /LOGO -->

        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">


            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Admin Panal</span>
              </a>
            </div>
            <!-- /Menu Toogle -->
          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      
      <ul class="main-nav nav py-1">
        <li style="background-color:burlywood;padding: 1pt 20pt; border-radius: 5pt;"> <i class="fa fa-user"><b> Admin Panal  </b></i></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li ><a style="color:darkgoldenrod;" routerLink="/admin">Products</a></li>
        <li><a style="color:darkgoldenrod;" routerLink="/order">Check Orders</a></li>
        <li><a style="color:darkgoldenrod;" routerLink="/accepted-order">Accepted Orders</a></li>
        <li><a style="color:darkgoldenrod;" routerLink="/report">Payment Status</a></li>

      </ul>
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->

<!-- HEADER END -->

<br>